nav {
    height: auto;
    margin: auto;
    margin-block: 4vh;
    margin-inline: 5vw;
    display: flex;
    flex-basis: fit-content;
    flex-direction: column;
    align-items: center;
    background-color: var(--c-dark);
}

nav ul {
    margin-inline: inherit;
    white-space: pre-line;
    width: 100%;
    padding: unset;
    border: unset;
    display: flex;
    flex-basis: fit-content;
    align-content: space-evenly;
    justify-content: space-evenly;
    list-style: none;
    background-color: var(--c-purple);
}

nav ul li {
    padding: 0 3vw;
    justify-content: space-evenly;
    flex-basis: inherit;
    width: fit-content;
    place-content: initial;
    background-color: var(--c-purple);
    transition: background-color 1s ease;
    margin: 0 0;
}

nav ul li:hover {
    background-color: var(--c-green);
    transition: background-color 300ms ease;
}

